*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./image/bg_main.gif) center;
   
}
.container{
    max-width: 1020px;
    background: rgb(200, 153, 153);
    margin: 0 auto;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
.right p{
    display: inline-block;

}
.container a{
    border: 1px solid lightblue;
}
