*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: url(./image/bg_main.gif) center;
}
.cont{
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

/* common css end */
/* header part start */
.topbar{
    background-color: #9E5BBA;
    height: 30px;
    color: white;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px solid red;
}
.top-right P{
    display: inline-block;
    border-right: 1px solid whitesmoke;
    padding-right: 5px;
    margin-left: 5px;

}
.top-right a{
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    
}
.top-right p{
    text-decoration: none;
    color: white;
}
/* header part end */
/* logo part start */
.logo{
    height: 110px;
 
}

.logo-left{
    line-height: 110px;
    
}

.logo-scarch{
    padding-top: 40px;
}

.logo-scarch input{
    width: 65%;
    padding: 5px;
    font-size: 12px;
}

button{
    font-size: 6px;
    background-color: rgb(176, 176, 176);
    color: rgb(41, 39, 39);
    border: 1px solid rgb(95, 93, 93);
}

.logo-right{
    padding-top: 30px;
}

.logo1{
   border-right: 1px solid rgb(105, 95, 95);
   padding-right: 5px;
   height: 33px;
   margin-top: 10px;
}

.logo2{
padding-left: 5px;
}

.logo2 p{
    margin-bottom: 1px;
    font-size: 13px;
}
/* logo part end */
/* hero main patr start */
.baner{
    border: 2px solid red;
    padding: 10px;
}
.slider img{
    height: 300px;
    padding: 10px;
}
/* hero main patr end */